
@model AccountDetailsVM
@{
    //int x = 1;
    ViewData["Title"] = "Accounts";
}

<script>
    var accountPage1 = @Html.Raw(Json.Serialize(Model.accounts));
</script>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/account-list.js"></script>

<div class="py-5 text-center">
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-success alert-dismissible fade show" style="width:90%; text-align:center" role="alert">
            @ViewBag.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <h2>Account details</h2>
    <p class="lead">The list below contains all the accounts</p>
</div>
    <div class="d-flex justify-content-center align-items-center container ">
        <div class="row col-md-10">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        @*<th>S/N</th>*@
                        <th>AccountName</th>
                        <th>AccountNumber</th>
                        <th>BankName</th>
                        <th>DateCreated</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var item in Model.accounts)
                    {
                        <tr>
                            @*<td>@x</td>*@
                            <td>@item.AccountName</td>
                            <td>@item.AccountNumber</td>
                            <td>@item.BankName</td>
                            <td>@item.DateCreated</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" title="Edit" asp-action="Edit" asp-route-ID="@item.ID"><i class="icon_pencil-edit_alt"></i></a>
                                </div>
                            </td>
                        </tr>
                        //x++;
                    }
                </tbody>
            </table>
            <div>
                <p>Total Records: @Model.DataSize</p>
                <a href="#" id="moveleft" name="cursor">Previous </a><span id="page">1</span>/ <span id="pageSize">@(Model.PageSize == 0 ? 1 : Model.PageSize)</span><a href="#" id="moveright" name="cursor"> Next</a>
            </div>

        </div>
    </div>
